attrs
cattrs
responder
tortoise-orm
aiosqlite
Werkzeug
pyjwt
simple-settings[yaml]
css-html-js-minify
pyyaml;python_version>="4.2b1"
flask
flask_wtf
requests
docopt

digicubes-pyclient
digicubes-common
