-r requirements.txt
#-r requirements_client.txt
#-r requirements_web.txt

# Database Drivers
#asyncpg
#aiomysql

# Dev Tools

# Administration tools
pip-tools


# Linter tools
mypy
flake8-isort
pylint
docutils
pygments
bandit
black;python_version>="3.6"

# Test tools
tox
asynctest
green
coveralls
pytest
nose2

# Pypi
twine

# Sample integrations
#hypercorn;python_version>="3.6"
#quart;python_version>="3.6"

requests
sphinx
sphinx_rtd_theme
doc8

pybadges
cattrs
rope
autopep8
sphinxcontrib-httpdomain
asynctest

-e ../digicubes_pyclient
-e ../digicubes_common