{% extends "account_base.jinja" %}

{% block main_menu %}
  <li><a href="{{ url_for('account.logout') }}">Home</a></li>
  <li><a href="{{ url_for('account.logout') }}">Logout</a></li>
{% endblock %}

{% block main_content %}
  <div class="section"><h3>All Users Login - [{{ current_user.rights }}] </h3></div>
  <div class="section" id="dc-main">
    <div class="row center" id="user-table">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
  </div>      
{% endblock %}        

{% block page_script %}
DigiCubes.addRoute("account.panel-user-table", "{{ url_for('account.panel_user_table') }}")
DigiCubes.getUserTable(offset=0, count=10)
.then( html => {
  $('#user-table').html(html);
})
{% endblock %}