
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">DIGICUBES</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <div class="container">
          <div class="row">
            <div class="col s3" id="dc-left-nav"><div class="separator"></div></div>
            <div class="col s9">Main Content goes here</div>
          </div>
        </div>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/digicubes.js') }}"></script>
      <script type="text/javascript">
        DigiCubes.login()
          .then(token => DigiCubes.getUsers())
          .then(users => { 
            var elem = $( "#dc-left-nav" );
            for (i in users.result) {
              let user = users.result[i]
              let full_name = `${user.last_name}, ${user.first_name}`;
              $('<div/>', {
                id : 'user_' + user.id,
                html : `<h5>${full_name}</h5><p>${user.login}</p`,
                click : function() {
                    console.log(user);
                }
              }).addClass('section').appendTo(elem);
              $("<div/>").addClass("divider").appendTo(elem);
            }
          });
      </script>
      
    </body>
  </html>
        