{% extends "account_base.jinja" %}

{% block main_menu %}
  <li><a href="{{ url_for('account.logout') }}">Logout</a></li>
  <li><a href="{{ url_for('account.logout') }}">{{ current_user.last_name }}, {{ current_user.first_name }}</a></li>
{% endblock %}

{% block main_content %}
  <div class="row">
    <div class="col s3" id="dc-left-nav">
      <div class="divider"></div>
      {% if current_user.has_right('no_limits') %}
      <div class="section"><a href="{{ url_for('account.user_list') }}">Users<a></div>
      <div class="divider"></div>
      {% endif %}
      {% if current_user.is_root %}
      <div class="section"><a href="{{ url_for('account.roles') }}">Roles</a></div>
      <div class="divider"></div>
      {% endif %}
    </div>  
    <div class="col s9" id="dc-main"></div>
  </div>      
{% endblock %}        