{% extends "account_base.jinja" %}

{% block main_menu %}
  <li><a href="{{ url_for('account.register') }}">Register</a></li>
{% endblock %}

{% block main_content %}
<div class="section">
  <div class="row">
    <div class="col s6 offset-s3">
      <h3>Welcome back</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s6 offset-s3" id="dc_main">
      <form method="POST" action="{{ url_for('account.login') }}">
          {{ form.csrf_token }}
          <div class="row">
            {{ form.login(grid="s12") }}
          </div>
          <div class="row">
            {{ form.password(type="password", grid="s12", value=False) }}
          </div>
          <div class="row">
            <div class="col s12 right-align">{{ form.submit }}</div>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}        

{% block page_script %}
$('input#login').characterCounter();
{% endblock %}