{% extends "account_base.jinja" %}

{% block main_menu %}
  <li><a href="#">Register</a></li>
{% endblock %}

{% block main_content %}
<div class="section">
  <div class="row">
    <div class="col s6 offset-s3">
      <h3>Log into your DigiCubes Experience</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s6 offset-s3" id="dc_main">
      <form method="POST" action="{{ url_for('account.login') }}">
          {{ form.csrf_token }}
          <p>{{ form.login.label }} {{ form.login(size=20) }}</p>
          <p>{{ form.password.label }} {{ form.password(size=20) }}</p>
          <p class="right">{{ form.submit }}</p>
      </form>
    </div>
  </div>
</div>
{% endblock %}        
