<form method="POST" action="{{ url_for('account.login') }}">
    {{ form.csrf_token }}
    <p>{{ form.login.label }} {{ form.login(size=20) }}</p>
    <p>{{ form.password.label }} {{ form.password(size=20) }}</p>
    <input type="submit" value="Go">
</form>