{% macro checkbox(state) -%}
    <i class="small material-icons">done</i>
{%- endmacro %}

<table class="highlight">
    <thead>
        <tr>
            <th>Name</th>
            <th>Login</th>
            <th>Email</th>
            <th>Verified</th>
            <th>Activated</th>
        </tr>
        <tbody>
        {% for user in users %}
        <tr>
        <td>{{ user.last_name }}, {{ user.first_name }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.email }}</td>
        <td>{{ checkbox(user.is_verified) }}</td>
        <td>{{ checkbox(user.is_active) }}</td>
        
        </tr>
        {% endfor %}
        </tbody>
    </thead>
</table>

<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>
            